<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<script language="javascript" type="text/javascript" src="../newsletter/js/scale.js"></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>
<body>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Microsoft Yahei,Arial; font-size:14px;  line-height:140%;">
  <tr>
   <td align="right" colspan="10" height="86" width="650" style=" border-bottom:2px solid #e8e8e8;"><img alt="" border="0" height="86" src="http://edm.henyep.com/edm_header/hycm_edm_top_cn_red.gif" usemap="#Map3" width="650" /></td>
  </tr>
 <tr bgcolor="#787878" style="color:#FFFFFF; font-size:12px;font-weight:bold; font-family:Microsoft Yahei,Arial;">

  <tr>
    <td style="padding:10px 20px 0 20px;">

        
  		<p style="font-family:Microsoft Yahei,Arial; font-size:14px;">尊敬的${ib_name}：</p>
  		
		<p style="font-family:Microsoft Yahei,Arial; font-size:14px;">
			欢迎您加盟兴业投资，期待接下来的日子与您合作愉快！
			<br />
			<br />
			您的代理商号码是：(${ib_code})
			<br />
			IB  Terminal 后台管理工具,请点击此链接登录：
			<br />
			<a href='https://Ib.hycm.com'>https://Ib.hycm.com</a>
			<br />
			管理后台详情如下：
			<br />
			<table border="1" cellpadding="10" cellspacing="0" >
				<tr>
					<td>账号：${ib_code}</td>
					<td>密码：${password}</td>
				</tr>
			</table>
			<strong style="font-family:Microsoft Yahei,Arial; font-size:14px; color:#900;">请您收到邮件后，立即修改 IB  Terminal 的密码</strong>
			<br/>
		</p>
		<p style="font-family:Microsoft Yahei,Arial; font-size:11px; color:#666;">
			 如有疑问，请随时联系我司的客户服务团队。您可以在北京时间周一7:00至周六5:00致电+44-207-193-3827与我司客服取得联系。您也可以发送邮件给我司，邮箱地址：
			<br/>
			<a href='mailto:customerservice@xingyetouzi.com'>customerservice@xingyetouzi.com</a>
			<br/>
			<br/>
			兴业投资(英国)是全世界资本市场交易的领导者
			<br/>
			-　拥有40年之久的营运历史
			<br/>
			-　经英国金融市场行为管理局(FCA)授权和监管
			<br/>
			-　24小时交易支持
			<br/>
			-　提供品类齐全的交易产品-外汇、商品、金属、股票和指数
			<br/>
			-　先进的在线交易平台
			<br/>
			-　专业的图表和分析工具
			<br/>
			<br/>
			如果您有进一步的疑问需要提供帮助，请随时联系我们。
			<br/>
			<br/>
			感谢您选择和我司进行交易。
			<br/>
			
			<br />
			随时为您服务! 
			<br />
		
			<br />
			<strong style="font-family:Microsoft Yahei,Arial; font-size:11px; color:#900;">兴业投资团队</strong>
			<br />
			
			英国伦敦EC2N 2AN，思罗克英顿大街28号3楼
			<br />
			<br />
			<strong style="font-family:Microsoft Yahei,Arial; font-size:11px; color:#900;">客户服务</strong>
			<br />
			电话:+44-207-193-3827
			<br />
			传真:+44-207-628-3272
			<br />
			北京时间周一7:00至周六5:00
			<br />
			
		
			
		</p>
		<br />
		<p>&nbsp;</p>
	</td>
</tr>
    
    
    <tr>
			<td align="center" colspan="3" style="padding: 22px 0px; border-top-color: rgb(232, 232, 232); border-top-width: 1px; border-top-style: solid;" valign="top"><img alt="扫一扫 汇市资讯 尽在掌握&#10;微信号：兴业投资&#10;" height="112" src="http://image.izacholsm.com/fkImages/17693/image/HYCM%20CN%20QR%20EDM.jpg" title="扫一扫 汇市资讯 尽在掌握&#10;微信号：兴业投资&#10;" width="296" /></td>
  </tr>
        

        
		<tr>
			<td style="padding: 12px 20px; color: rgb(255, 255, 255); line-height: 18px; font-size: 12px; background-color: rgb(129, 129, 131);"><strong>风险提示：</strong>所有外汇及差价合约交易都会对您的资本带来高风险。您有可能亏损掉所有资金。因此，这些 产品可能不适合所有人。您应当确保您已理解其中所涉及的风险，若有需要，请咨询个别专家建议。 <a href="http://www.xingyetouzi.com/chinese/risk_warning.html" style="color: rgb(190, 27, 46); text-decoration: none;" target="_blank">风险提示</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#dfe0e2" colspan="3" style="padding: 8px 0px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(51, 51, 51); font-family: Microsoft Yahei,Arial; font-size: 12px;"><span>COPYRIGHT&copy; 2017 - 兴业投资（英国）是兴业资本市场（英国）有限公司的交易名称。版权所有<br />
			英国伦敦EC2N 2AN，思罗克英顿大街28号3楼</span></td>
		</tr>
  <tr><td>&nbsp;</td></tr>

		<tr>
			<td style="padding: 10px; color: rgb(51, 51, 51); line-height: 18px; font-family: Microsoft Yahei,Arial; font-size: 12px;">
			
			<p>此邮件所含信息为保密内容。可能具有法律特权。如果您非指定之收件人，您不应复制、转发、泄露或使用该邮件中的任何内容。如果您误收此邮件，请将其及所有备份从您的系统删除，并立即回复邮件告知发送者。我们无法保证网络通信是及 时、安 全、准确及无病毒的。对于出现的任何错误或遗漏，发送者不承担任何赔偿责任。</p>

			<p>兴业投资（英国）是兴业资本市场（英国）有限公司的交易名称，兴业资本市场是成立于英国的一家有限公司，在英国注册（公司注册号02878581），并经由英国金融市场行为管理局(FCA)监管。</p>

			</td>
		</tr>
</table>


<map id="Map3" name="Map3"><area alt="兴业投资（英国）" coords="21,18,166,76" href="https://ib.hycm.com/login.hyml?lang=zh_CN" shape="rect" target="_blank" title="兴业投资（英国）" /> <area alt="在线客服" coords="417,28,523,54" href="https://chat8.live800.com/live800/chatClient/chatbox.jsp?companyID=299276&configID=149790&jid=1221985430" shape="rect" target="_blank" title="在线客服" /> <area alt="会员登录" coords="531,27,637,54" href="https://ib.hycm.com/login.hyml?lang=zh_CN" shape="rect" target="_blank" title="会员登录" /> <area alt="FCA许可证号: 186171" coords="529,59,637,75" href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000MfHH0AAN" shape="rect" target="_blank" title="FCA许可证号: 186171" /></map>


</body>
</html>
<custom name="opencounter" type="tracking">
